.overlay {
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 37%);
  z-index: 2;
}

.signup-container, .login-container {
  padding: 4em 1em 1em 1em;
  width: 500px;
  background-color: white;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
}

.signup-container input, .login-container input {
  width: 300px;
}

.signup-container button, .login-container  button {
  width: 300px;
  margin-top: 1em;
}

.signup-container h2, .login-container h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

.signup-container .material-icons, .login-container .material-icons {
  margin-left: auto;
  padding-top: 2.5em;
  cursor: pointer;
  color: #2e86c459;
}

@media only screen and (max-width: 600px) {
  .signup-container, .login-container {
    width: 80vw;
    margin: 7vh auto;
  }
  .signup-container input, .login-container input {
    width: 70vw;
  }
  .signup-container button, .login-container  button {
    width: 70vw;
  }
}